:host {
  display: flex;
  justify-content: center;
  --color1: 'tomato';
  --color2: 'darkgrey';
}
ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  display: inline-block;
  counter-reset: li;
  transition: all 500ms ease-in-out;
}
li {
  display: inline-block;
  padding: 10px;
  min-width: 160px;
  position: relative;
  counter-increment: li;
}
li::before {
  content: counter(li);
  background: #000000;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}
li::after {
  position: absolute;
  /* left: 0; */
  left: 40px;
  top: 30px;
  content: '';
  width: 100%;
  height: 3px;
  background: #cccccc;
}
/* li:first-child::after {
} */
li:last-child::after {
  width: 0;
}
li.active::before,
li.active1::after {
  background: #ff0000;
}
li.completed::before,
li.completed::after {
  background: #28a745;
  content: '\221A';
}
span {
  display: inline-block;
  color: darkgrey;
  position: relative;
  right: 50%;
  text-align: center;
  top: 40px;
  width: 150px;
  text-transform: capitalize;
}
